.todo-section {
  margin: 12px 0;

  .todo-list {
    list-style-type: none;
    margin-top: 4px;
    padding: 0;

    li {
      padding: 5px;
    }

    .todo {
      padding-left: 5px;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }

    .crossed-out {
      text-decoration: line-through;
    }
  }
}
